<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <style>
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

.container {
    background-color: #fff;
    color: #000;
    width: 80%;
    padding: 20px;
    height: fit-content;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.profile-header {
    text-align: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
}

.profile-email {
    font-size: 14px;
    color: #666;
}

.stories-section {
    text-align: center;
}

.stories-section h2 {
    margin-bottom: 40px;
    font-size: 40px;
}

.stories-grid {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
:hover.story-card{
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.495);

}
.story-card {
    background-color: #000;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.story-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.story-info {
    padding: 10px;
    text-align: left;
    font-size: smaller;
    
}
.story-info h2{
    font-size: medium;
}

.create-story {
    text-align: center;
}
:hover.create-story-btn{
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.495);
}
.create-story-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    
    cursor: pointer;
}

.create-story-btn span {
    font-size: 20px;
    margin-left: 5px;
}

.overlay {
    position: fixed;
    color: #000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    text-align: start;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-top: 50px;
}

.options1 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    margin-left: 30px;
    margin-bottom: 30px;
}
.options2 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    margin-left: 30px;
    margin-bottom: 30px;
}


.option-btn {
    padding: 10px 15px;
    border: 2px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    min-width: 70px;
}
.option-btnn {
    padding: 10px 15px;
    border: 2px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    min-width: 70px;
}


.option-btn.selected {
    background-color: #0093ff;
    color: #fff;
    border-color: #0093ff;
}
.option-btnn.select {
    background-color: #0093ff;
    color: #fff;
    border-color: #0093ff;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 80%;
    margin-left: 30px;
}

.create-btn, .cancel-btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 120px;
}

.create-btn {
    background-color: #000;
    color: #fff;
    border: none;
}

.cancel-btn {
    background-color: #fff;
    color: #000;
    border: 2px solid #ccc;
}
@media (max-width:800px) {
#profile_container{
    height: 10%;
    padding: 3%;

}
h2 {
    font-size: 18px;
    margin-bottom: 3%;
    margin-left: 20px;
    margin-top: 3%;
}
.profile-img {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    margin-bottom: 0%;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0%;
}
.profile-name {
    margin: 2%;
    font-size: 24px;
    font-weight: bold;
}
.stories-grid {
    display: grid;
    grid-row:2;
    
}
.modal {
  
    width: 90%;
   
}
.options1 {
    
    width: 90%;
    
}


    
}

    </style>
</head>
<body>
    <div class="container" id="profile_container">
        <div class="profile">
            
                <img src="./images/profile-pic.jpg" alt="Profile Picture" class="profile-img">
                <h2 class="profile-name">John</h2>
                <p class="profile-email">example@gmail.com</p>
            
        </div>
    </div>
    <div class="container">
            <h2>Stories</h2>
            <div class="stories-grid">
                <div onclick="Nav()" class="story-card">
                    <img src="./images/farmer.jpg" alt="A Farmer" class="story-img">
                    <div class="story-info">
                        <h3>A Farmer</h3>
                        <p>170 pages</p>
                        <p>19/07/2022</p>
                    </div>
                </div>
                <div onclick="Nav()" class="story-card">
                    <img src="./images/lion.jpg" alt="Foolish Lion" class="story-img">
                    <div class="story-info">
                        <h3>Foolish Lion</h3>
                        <p>110 pages</p>
                        <p>18/07/2022</p>
                    </div>
                </div>
                <div onclick="Nav()" class="story-card">
                    <img src="./images/lake.jpg" alt="A Lake" class="story-img">
                    <div class="story-info">
                        <h3>A Lake</h3>
                        <p>170 pages</p>
                        <p>18/07/2022</p>
                    </div>
                </div>
            </div>
            <div   class="create-story">
                <button  onclick="Pop_up(1)" class="create-story-btn">Create Story <span>+</span></button>
            </div>
        </div>
    </div>
    <div class="overlay" id="overlay">
        <div class="modal">
            <button onclick="Pop_up(0)" class="close-btn">×</button>
            <h2>Gen<span style="text-transform: lowercase;">er</span></h2>
            <div class="options1">
                <button class="option-btn selected ">fantacy</button>
                <button class="option-btn">adventure</button>
                <button class="option-btn">mystery</button>
                <button class="option-btn">humor</button>
            </div>

            <h2>Size</h2>
            <div class="options2">
                <button class="option-btnn select">small</button>
                <button class="option-btnn">medium</button>
                <button class="option-btnn">large</button>
            </div>

            <div class="action-buttons">
                <button class="create-btn">create</button>
                <button onclick="Pop_up(0)" class="cancel-btn">Cancel</button>
            </div>
        </div>
    </div>
    
    <script>
        const user=
        document.addEventListener('DOMContentLoaded', () => {
            const optionButtons = document.querySelectorAll('.option-btn');
           
            optionButtons.forEach(button => {
                button.addEventListener('click', () => {
                    optionButtons.forEach(btn => btn.classList.remove('selected'));
                    button.classList.add('selected');
                });
            });
            const optionButton = document.querySelectorAll('.option-btnn');
    
    optionButton.forEach(button => {
        button.addEventListener('click', () => {
            optionButton.forEach(btn => btn.classList.remove('select'));
            button.classList.add('select');
        });
    });
        });
        const Pop_up=(ch)=>{ 
            const overlay= document.getElementById("overlay")
            if(ch==1){
                overlay.setAttribute("style","visibility: visible;")
            }
            else if(ch==0){
                overlay.setAttribute("style","visibility:hidden ;")
            }
            }
        function Nav(){
            window.location.href='./story'
        }
        
        </script>
</body>
</html>
